@font-face {
    font-family: 'CordaleRegular';
    src: url('../fonts/CordaleCorp-Regular.woff2') format('woff2'),
         url('../fonts/CordaleCorp-Regular.woff') format('woff'),
         url('../fonts/CordaleCorp-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
